@CHARSET "UTF-8";


#paper{
	width: 594pt;
	margin:auto;
	
}

#father{
	padding: 72pt 90pt 72pt 90pt;
}

.texttitle1{
	text-align: center;
	font-family: SimHei;
	font-size: 18pt;
}

.texttitle2{
	text-align: left;
	font-family: SimHei;
	font-size: 16pt;
}

.texttitle3{
	font-family: SimHei;
	font-size: 14pt;
}

.texttitle4{
	font-family: SimHei;
	font-size: 12pt;
}

.textbody{
	text-indent:24pt;
	font-family: FangSong;
	font-size: 12pt;
}

.textnote{
	font-family: KaiTi;
	font-size: 10.5pt;
}

.imagetitle{
	text-align: center;
	font-family: STXinwei;
	font-size: 12pt;
}

.preimage{
	text-align: center;
}